.react-datepicker__header {
  @apply bg-blue-900 text-white font-extrabold px-2 m-0 ;
}

.react-datepicker__current-month {
  @apply text-xl font-bold  flex items-center justify-between;
}

.react-datepicker__day-name {
  @apply text-blue-900 text-sm font-semibold  p-1;
}

.react-datepicker__day {
  @apply cursor-pointer rounded-full;
}

.react-datepicker__day--selected{
  @apply bg-blue-900 text-white rounded-full;
}
.react-datepicker__day--in-range,

.react-datepicker__day:not([aria-disabled="true"]).react-datepicker__day--keyboard-selected:hover,
.react-datepicker__day:not([aria-disabled="true"]).react-datepicker__day--selected:hover,
.react-datepicker__day:not([aria-disabled="true"]):hover {
  @apply bg-blue-900! text-white! rounded-full;
}

.react-datepicker__day--keyboard-selected {
  @apply bg-transparent rounded-full;
}
