@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";
@import "react-datepicker/dist/react-datepicker.css";
@import "./css/reactDatePicker.css";
@import "react-toastify/dist/ReactToastify.css";

@keyframes subtle-ring {
  0%, 100% { opacity: 0.55; transform: scale(1); }
  50% { opacity: 1; transform: scale(1.03); }
}




/* @keyframes wiggle {
  0%   { transform: scaleY(1); }
  20%  { transform: scaleY(2); }
  40%  { transform: scaleY(1.3); }
  60%  { transform: scaleY(1.8); }
  80%  { transform: scaleY(1.2); }
  100% { transform: scaleY(1); }
} */


/* @keyframes wiggle {
  0%   { transform: scaleY(1); }
  15%  { transform: scaleY(2); }
  30%  { transform: scaleY(1.3); }
  45%  { transform: scaleY(1.9); }
  60%  { transform: scaleY(1.2); }
  75%  { transform: scaleY(1.7); }
  100% { transform: scaleY(1); }
} */

@keyframes wiggle{
  0%{transform:scaleY(0)}
  20%{transform:scaleY(0.25)}
  40%{transform:scaleY(0.5)}
  60%{transform:scaleY(0.75)}
  80%{transform:scaleY(1)}
  100%{transform:scaleY(1.25)}
}


